<%- include("partials/header"); -%> 

<h1>We are here since 2010</h1>
<P>Powered by the latest innovations in machine learning, Watson lets you learn more with less data. No matter how you use Watson, your data and insights belong to you − and only you.</P>

<p><%= abt %> </p>
 

<%- include("partials/footer"); -%> 